html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif;
    font-size: 10.5pt;
    color: #333;
    background: #ffffff;
    text-rendering: optimizeLegibility; 
}

.hidden {
    display: none;
}


h2 {
    margin: 0;
    font-family: MuseoSans-500Italic ,Helvetica, Verdana, Sans-serif;
    font-size: 25px;
}

h3 {
    margin: 0;
    font-family: MuseoSans-500Italic ,Helvetica, Verdana, Sans-serif;
    font-size: 20px;
}

h1 {
    margin: 0;
    font-family: MuseoSans-500Italic ,Helvetica, Verdana, Sans-serif;
    font-size: 30px;
}

a {
    color:#000;
    text-decoration: none;
     font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif;
}

#page-container {
    margin: auto;
    min-height: 100%;
    position: relative;
}

#slice {
    background: #542437;
    height: 20px;
}

#header {
    padding:15px;
}

#header a{
 font-weight: bold;
    text-decoration:none;
    color:#000;
}

#floating_links {
float:right;
padding-right:100px;
padding-top:7px;
}

#floating_links a{
 font-weight: bold;
    color: crimson;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif;
}

#sidebar {
	float:left;
	width:100px;
	height:100%;
    padding-right: 20px;
    padding-top: 4px;
    text-align:center;
    margin-left: auto;   
    margin-right: auto;
        min-height: 100px;
}

#sidebarr {
	float:right;
	width:100px;
	height:100px;
	padding-left: 10px;
	padding-right: 10px;
}

.content_wo {
    padding: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: none;
}

a.content_wo{
 font-weight: bold;
    color: crimson;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif;
}

h2.content_wo  {
    margin: 0;
    font-family: MuseoSans-500Italic ,Helvetica, Verdana, Sans-serif;
    font-size: 25px;
}
h3.content_wo  {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-family: MuseoSans-500Italic ,Helvetica, Verdana, Sans-serif;
    font-size:22px;
}

p.content_wo {
    margin: 0;
    padding: 0;
    padding-bottom:10px;
    padding-left:15px;
}

.content {
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 5px;   
}

a.content{
    color: crimson;
    text-decoration: none;
     font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Sans-serif;
}

h2.content{
    font-family: MuseoSans-500Italic ,Helvetica, Verdana, Sans-serif;
    font-size: 25px;
}

h3.content{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-family: MuseoSans-500Italic ,Helvetica, Verdana, Sans-serif;
    font-size:22px;
}

p.content{
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    padding-left:15px;
    margin-left:105px;
}

#footer {
    clear: both;
    font-family: MuseoSans-500, Arial, Arial, Helvetica, Sans-serif;
    font-size: 10px;
    color: #aaa;
    margin : 0px;
    bottom: 0;
    width: 100%;
    height: 50px;
    position: absolute;
}
#footer p{
    margin : 4px;
}
#footer a {
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
}

img.center {   display: block;   margin-left: auto;   margin-right: auto; }
